body {
    background: rgb(rgb(255, 255, 255));
    margin-left: 28px;
}

header {
    margin-top: 70px;
    margin-right: 28px;
}
ul {
    margin-left: 28px;
}
h1 {
    color: red;
    font-family: fantasy;
}
h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.imgpadrao {
    width: 300px;
    margin: 20px;
}
footer {
    margin-top: 30px;
}